/* Nav bar CSS Starts */
.nav-bar-section-02 {
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 991px) {
    .nav-bar-section-02 {
        justify-content: flex-start;
        align-items: center;
    }

}

/* Nav bar CSS Ends */
.OS-Simulator-Heading
{
    padding: 30px 0;
}